/* thai */
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 400;
  src: local('K2D Regular'), local('K2D-Regular'), url(fonts/J7aTnpF2V0EjZKUsrLc.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 400;
  src: local('K2D Regular'), local('K2D-Regular'), url(fonts/J7aTnpF2V0Ejf6UsrLc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 400;
  src: local('K2D Regular'), local('K2D-Regular'), url(fonts/J7aTnpF2V0EjfqUsrLc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 400;
  src: local('K2D Regular'), local('K2D-Regular'), url(fonts/J7aTnpF2V0EjcKUs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


* {
  font-family: 'K2D';
}

.logs {
  background-color: black;
  font-size: 14px;
  color: white;
  font-weight: bold;
  padding: 20px;
  border-radius: 8px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  margin: 0px;
}

.nav-tabs {
  margin-bottom: 0;
}

.status-offline {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 4px;
  width: 12px;
  height: 12px;
  background: red;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.status-online {
  vertical-align: middle;
  margin-left: 5px;
  margin-top: 4px;
  width: 12px;
  height: 12px;
  background: mediumseagreen;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

input.form-control {
  margin-right: 5px;
}

.alert-result {
  margin-left: 0;
}
/****************************SONSOLES*********************************/

.init-view {
  background: -moz-linear-gradient(45deg, rgba(6,43,227,1) 0%, rgba(73,108,250,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(6,43,227,1)), color-stop(100%, rgba(73,108,250,1)));
  background: -webkit-linear-gradient(45deg, rgba(6,43,227,1) 0%, rgba(73,108,250,1) 100%);
  background: -o-linear-gradient(45deg, rgba(6,43,227,1) 0%, rgba(73,108,250,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(6,43,227,1) 0%, rgba(73,108,250,1) 100%);
  background: linear-gradient(45deg, rgba(6,43,227,1) 0%, rgba(73,108,250,1) 100%);  width:100%;
  height:100%;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.init-view img {
  width: 60%;
}



.view {
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
   margin: 0;
}
 
.prescription-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  padding: 0 !important;
  overflow: auto;
  height: calc(100% - 193px);
  margin: 0;
}
 


.prescription-items {
  padding-left: 10px;
  flex:1;
}
.prescription-item {
  list-style: none;
  height: 58px;
  border-bottom: 2px solid #ddd;
  padding: 5px;
  border: none;
  margin: 4px;
  margin-bottom: 10px;
  margin-right: 15px;
  background-color:  #C40B5A;
  padding-left: 20px;
  border-radius: 2px;
  color: white;
}

.prescription-item.past {
  opacity: 0.5;
}
.prescription-item:nth-child(even) {
  background-color: #062BE3;
}

.prescription-item:nth-child(even) .add{
  color: #062BE3;
}
.prescription-month {
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 5px;

}

.prescription-month-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}


.prescription-day-block {
  width: 60px;
  text-align: center;
  margin-top: 7px;
}
.day {
  font-size: 32px;
  color: #062be3;
  opacity: 0.7;
  line-height: 20px;
}

.week {
   color: #062be3;
   opacity: 70%;
}

 

nav {
  background-color: #E0E0E0;
  height: 50px;
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;        
  padding-right: 20px;        

}
.nav-button {
  position: relative;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
  color: #6D6D6C;
   
}

.nav-button img {
  width: 22px;
   opacity: 0.5;
}

.nav-button img.icon-search , .nav-button img.icon-notify {
  width: 19px;
}

.nav-button-selected {
  /*text-decoration: underline;*/
}

.layout {
  height: 100%;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;

}



.little-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: inherit;      
}

.status-Delivered .little-circle{
  background-color: #6ed06e;
}
.status-Failed .little-circle{
  background-color: red;
}
.status-Pending .little-circle{
  background-color: orange;
}


body, html {
  height: 100%;
   margin: 0;
   padding: 0;
}


header {
  height: 90px;
  /*background-color: fuchsia;*/
  border-bottom: 2px solid #ddd;
  color: black;
  padding-left: 20px;
  font-size: 30px !important;
  font-weight: 800;
  line-height: 110px;
  vertical-align: text-bottom;
}

.price {
  float: right;
  color: fuchsia;
  margin-right: 45px;
  font-size: 19px;
  vertical-align: middle;
  line-height: 40px;
  background-color: white;
}

.add {
  float: right;
  vertical-align: middle;
  border: none;
  background: white;
  outline: none;
  margin-top: -9px;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50%;
  color: #C40B5A;
  font-size: 9px;
  text-align: center;
}

.profile-view {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  text-align: center;
  height: calc(100% - 50px);
  overflow: auto;

}
.profile-view h2{
    font-size: 24px;
    font-weight: 500;
}
.nav-profile {
    background-color: white;
    color: #C40B5A;
    display: flex;
    margin: -20px;
    margin-bottom: 22px;
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
    justify-content: space-between;

}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  background-color: #ddd;
}

.user-info {
  padding: 20px;
   font-size: 16px;
}
.info-box {
  display: inline-block;
    vertical-align: top;
}
.user-name {
  font-weight: bold;
}

.user-address {

}

.blue {
  color: #062BE3;
}

.logout {
  color: #C40B5A;
  margin-top: 20px;
}

.profile-buttons {
  text-align: center;
  margin-top: 9px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;

}
.profile-button {
    width: 100%;
    text-align: center;
    height: 44px;
    line-height: 44px;
    border: none;
    vertical-align: text-bottom;
    color: white;
    outline: none;
    font-size: 14px;
    background: transparent;
    color: black;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
    padding-right: 7px;

}

.profile-button span:nth-child(1) {
    font-weight: 600;
}
.profile-button span:nth-child(1) {
  width: 125px;
  text-align: left;
}
.profile-button span:nth-child(2) {
  width: 150px;
  text-align: left;
}
.profile-button:active, .profile-button:hover, .profile-button:focus {
  /*transform: scale(1.02);*/
}

.profile-button span:nth-child(2).arrow-profile {
  text-align: right;
}
.arrow-profile {
  color: #062BE3;
}
.call-view {
    background: -moz-linear-gradient(45deg, rgba(6,43,227,1) 0%, rgba(73,108,250,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(6,43,227,1)), color-stop(100%, rgba(73,108,250,1)));
  background: -webkit-linear-gradient(45deg, rgba(6,43,227,1) 0%, rgba(73,108,250,1) 100%);
  background: -o-linear-gradient(45deg, rgba(6,43,227,1) 0%, rgba(73,108,250,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(6,43,227,1) 0%, rgba(73,108,250,1) 100%);
  background: linear-gradient(45deg, rgba(6,43,227,1) 0%, rgba(73,108,250,1) 100%);  width:100%;
  color:white;
      height: calc(100% - 50px);
  text-align: center;
}
.call-msg {
  text-align: center;
  font-size: 24px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100% - 280px);

}
.call-msg span{
 margin-top: 20px;
 font-size: 18px;

}
.pharmacist {
  width: 47%;
  margin-top: 47px;
}
.call-buttons {
  display: flex;
}
.call-button {
  background-color: transparent;
  border:none;
  outline: none;
  opacity: 0.5;
  padding:5px;
}
.call-button img {
  width: 40px;
}

*::-webkit-scrollbar {
  width: 5px;
}
 
*::-webkit-scrollbar-thumb {
  background: #666; 
}

*::-webkit-scrollbar-track {
  background: #ddd; 
}
.hide-view {
  display: none;
}

.shopping-cart{
  height: 80px;
  background-color: #ddd;
  padding: 0px 20px;
  transition: 0.4s ease-in height;

}
.shopping-cart.no-order {
  height: 0px;
  overflow: auto;
}

.place-order-button {
  float: right;
  margin: 10px;
  background-color: fuchsia;
  color: white;
  padding: 5px;
  border: none;
  outline: none;
}

.orderNum {
  position: absolute;
  background-color: #C40B5A;
  color:white;
  font-size: 10px;
  line-height: 13px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 1;
  text-align: center;
  margin-left: -5px
}

.order-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  padding: 0 !important;
  overflow: auto;
  height: calc(100% - 140px);
  margin: 0;
}

.order-item {
  list-style: none;
  height: 285px;
  border-bottom: 2px solid #ddd;
  padding: 5px;
  border: none;
  border-radius: 10px;
  margin: 4px;
  margin-top: 20px;
  margin-bottom: -35px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  color: white;
  transition: 0.4s ease-in height;
  overflow: hidden;
   padding-right: 20px;
      
} 
.right {
  text-align: right;
  font-size: 24px;
}

.fak-item {
  list-style: none;
  height: 70px;
  padding: 11px;
  border: none;
  border-bottom: 2px solid #ddd;
  margin: 4px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
} 

.fak-list {
   -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  padding: 0 !important;
  overflow: auto;
  height: calc(100% - 193px);
  margin: 0; 
}

.fak-footer{
  text-align: center;
      height: 55px;
    line-height: 24px;
}
 

.fak-med-info{
  flex:1;
}
.fak-icon {
  width: 41px;
  margin-right: 10px;
}

.fak-total-order {
  padding: 15px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
.fak-place-order-button {
  background-color: #C40B5A;
  color: white;
  padding: 10px 56px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 21px -9px rgba(84,84,84,0.67);
-moz-box-shadow: 0px 10px 21px -9px rgba(84,84,84,0.67);
box-shadow: 0px 10px 21px -9px rgba(84,84,84,0.67);
}

.order-modal {
    width: 82%;
    margin: 0;
    left: 9%;
    top: 15%;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
}

.order-modal-button {
    background-color: #C40B5A;
    color: white;
    padding: 5px 5px;
    width: 80%;
    height: 41px;
    outline: none;
    font-size: 18px;
    border-radius: 25px;
    border: navajowhite;
    margin: 10px;
    -webkit-box-shadow: 0px 10px 21px -9px rgba(84,84,84,0.67);
    -moz-box-shadow: 0px 10px 21px -9px rgba(84,84,84,0.67);
    box-shadow: 0px 10px 21px -9px rgba(84,84,84,0.67);
}
.order-ul {

    padding-left: 4px;
}

.order-li {
  list-style: none;
  margin-bottom: 20px;
}
.order-li p{
  line-height: 9px;
    font-size: 13px;
}
.empty-fak {
  text-align: center;
}

.empty-fak img {
    margin-top: 33%;
    margin-bottom: 3%;
    width: 180px;
}

.empty-fak h2{
  font-size: 24px;
}


.empty-fak p{
   font-size: 22px;
   color: #C40B5A;
}
.notification {
  height: 0px;
  overflow: auto;
  transition: 0.5s ease-in height;
  position: absolute;
  bottom: 50px;
  background: #C40B5A;
  padding: 0px 25px;

}
.notification p {
  margin-top: 10px;
  float: right;
  width: calc(100% - 57px);
  color: white;
  font-size: 14px;
}
.notification.show {
  height: 132px;
}
.notification img {
  width: 40px;
  margin-top: 16px;
}

.orders-view {


}
.order-item h2 {
  font-size: 20px;
  font-weight: bold;
}
.order-item > *{
  visibility: hidden; 
}
.order-item:last-child > *  {
  visibility: visible;
}

hr {
  margin-bottom: 9px;
}

.qr {
  text-align: center;
}

.qr img {
  width: 100px;
}


.profile-shortcut {
    width: 45px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    margin: 35px 17px;
    background-color: #ddd;
    border: 1px solid #aaa;
}